<div class="fag-page">
  <h1>FAQ</h1>
  <ul class="faq__questions">
    <li class="faq__question" >What happens with my resume?
    <ul class="faq__answer">
      <li>Will be deleted after sending it to the correct people.</li>
    </ul>
    </li>
    <li class="faq__question" >What happens with my resume?
      <ul class="faq__answer">
        <li>Will be deleted after sending it to the correct people.</li>
      </ul>
    </li>
    <li class="faq__question" >What happens with my resume?
      <ul class="faq__answer">
        <li>Will be deleted after sending it to the correct people.</li>
      </ul>
    </li>
    <li class="faq__question" >What happens with my resume?
      <ul class="faq__answer">
        <li>Will be deleted after sending it to the correct people.</li>
      </ul>
    </li>
    <li class="faq__question" >What happens with my resume?
      <ul class="faq__answer">
        <li>Will be deleted after sending it to the correct people.</li>
      </ul>
    </li>
  </ul>
</div>
